@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Outfit Bold"),
    url(https://fonts.gstatic.com/l/font?kit=QGYvz_MVcBeNP4N5tllKW7Ddrct81M7BE7jVVGtt5uGaa2iAC4wTah6WuAHSfJBjMm4y5w&skey=bafc0b239d492b2c&v=v6)
      format("woff2");
}

* {
  padding: 0;
  margin: 0;
  font: 700 14px Outfit;
  user-select: none;
}

main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #26bfb3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.none main {
  cursor: none;
}

main img {
  max-height: 100%;
  max-width: 100%;
}

footer {
  position: fixed;
  width: 100vw;
  height: 60px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 12px;
}

footer a {
  color: white;
  text-decoration: none;
}

.none footer {
  display: none;
}

button {
  display: inline-block;
  background-color: white;
  color: #26bfb3;
  border: none;
  padding: 8px 12px;
  border-radius: 999px;
  margin-right: 12px;
}

.logo {
  width: 14px;
  height: 14px;
  vertical-align: -0.15em;
}
